@model MVCModels.Models.Person

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Body
{
    <h2>Person</h2>

    <div>
        <label>ID:</label>
        @Html.DisplayFor(p => p.PersonId)
    </div>

    <div>
        <label>First Name:</label>
        @Html.DisplayFor(p => p.FirstName)
    </div>

    <div>
        <label>Last Name:</label>
        @Html.DisplayFor(p => p.LastName)
    </div>

    <div>
        <label>Role:</label>
        @Html.DisplayFor(p => p.Role)
    </div>


    <div>
        <label>City:</label>
        @Html.DisplayFor(p => p.HomeAddress.City)
    </div>

    <div>
        <label>Country:</label>
        @Html.DisplayFor(p => p.HomeAddress.Country)
    </div>

}



